<%= form_for(@objet) do |f| %>
  <% if @objet.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong><%= pluralize(@objet.errors.count, "error") %> prohibited this objet from being saved:</strong>

      <ul>
      <% @objet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :libelle %><br>
    <%= f.text_field :libelle %>
  </div>
  <div class="field">
    <%= f.label :valeur %><br>
    <%= f.text_field :valeur %>
  </div>

  <!-- Ajout d'un champ pour choisir la catégorie -->
  <div class="field">
    <%= f.label :categorie_id %><br>
    <%= f.collection_select :categorie_id, 
              Categorie.all, :id, :libelle, {prompt: "Choisissez une catégorie"} %>
  </div>

  <!-- Envoi d'un fichier de photo -->
  <div class="field">
    <%= f.label :fichier_image %>    
    <%= f.file_field :fichier_image %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
