<fieldset>

  <legend>Un objet</legend>

  <div class="field">
    <%= f.label :libelle %><br>
    <%= f.text_field :libelle %>
  </div>
  <div class="field">
    <%= f.label :valeur %><br>
    <%= f.text_field :valeur %>
  </div>

  <%= f.link_to_remove "Supprimer cet objet" %>
</fieldset>